.idea
cmake-build-debug
cmake-build-release
build
output/
.DS_Store
settings.json
*.so
*~
.vscode
external
bin
lib
projects/*
!projects/fem/
!projects/mpm/
!projects/tutorial/
!projects/CMakeLists.txt
outputs/
